body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-field {
    height: 960px;
    width: 960px;
    border: 1px solid black;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.row {
    flex: 1;
    background-color: black;
    opacity: 0;
}

.row-hovered {
    flex: 1;
    background-color: gray;
}